@import "skins/blue.css";

*,BODY{font-family: "宋体", "Arial", "Helvetica";font-size: 12px; margin:0px; padding:0px;}
INPUT,TEXTAREA,SELECT,SPAN,LABEL{
	vertical-align: middle;
}
.PAGE_BODY { background:transparent;margin:0px;}
.BODY_SCR_AUTO { background:transparent;margin:0px;overflow:auto;}
.BODY_SCR_HIDDEN { background:transparent;margin:0px;overflow:hidden;}

HTML,BODY,CENTER,FORM{height:100%}
BODY{margin:0;height:100%}
TD{height:inherit; /*vertical-align: top;*/}
/*class引用示例*/
th           class="table_bg th_width_120 text-right"
td           class="table_bg text-center"
text         class="text control w60 table_height"
textarea     class="text textarea control textarea_h_100"
select		 class="w60"
checkbox     class="checkbox"
radio  	     class="radio"
DateText     class="DateText table_height control"/*日期*/
moneyText    class="moneyText table_height control text-right"/*金额*/
READONLY     class="READONLY "
DISABLED     class="DISABLED "
RATE         class="moneyText table_height control text-right"/*利息*/

button       class="button2 button"
onMouseOver="this.className='button2 button button2_Over'"
onMouseOut="this.className='button2 button'"


/*默认连接样式*/
a:visited {color: #800000;}
a:active {color: #970000;}
a:hover {color: #FE5C54;}
a {color:#800000;cursor:hand;}

/*可选控件宽度*/
.w100 {width:100%;}
.w95 {width:95%;}
.w90 {width:90%;}
.w80 {width:80%;}
.w70 {width:70%;}
.w60 {width:100%;}/*默认使用w60*/
.w50 {width:50%;}
.w40 {width:40%;}
.w30 {width:30%;}
.w20 {width:20%;}
.w10 {width:10%;}

.W100 {width:100%;}
.W95 {width:95%;}
.W90 {width:90%;}
.W80 {width:80%;}
.W70 {width:70%;}
.W60 {width:100%;}/*默认使用w60*/
.W50 {width:50%;}
.W40 {width:40%;}
.W30 {width:30%;}
.W20 {width:20%;}
.W10 {width:10%;}
.w_fixed5{width:5px;}/*固定宽度5像素*/

.h100 {height:100%;}
.H100 {height:100%;}

.hidden{display:none}
.hand{cursor: pointer;}

/*控件样式*/
.text,.textarea,.checkbox,.DateText,.moneyText,.READONLY,.DISABLED,.RATE{border:1px solid #808080;/*共享边框*/}
.checkbox,.RADIO {border: 0px;vertical-align: middle; margin-right: 1px;}
.READONLY,.DISABLED{background-color: #DFDFDF;}/*只读/禁止背景*/
.DateText {}/*日期宽度*/
.moneyText {}/*金额宽度*/
.control {background-color: #FFFFFF;} /*控件背景*/

/*顶部导航样式*/
.top-bar {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 46px;
	background-color: #DCEEFC;
	border: 1px solid #C9C9C9;
	overflow: hidden;
	z-index: 10000;
}
/*导航图标*/
.page-icon {
	float: left;
	margin-left: 14px;
	margin-top: 7px;
	width: 0px;
	height: 32px;
}
/*导航*/
.page-nav {
	float: left;
	font-family: "STHeitiSC Medium","Microsoft YaHei", "宋体", "Arial", "Helvetica";
	font-size: 18px;
	color: #404a54;
	line-height: 46px;
	text-indent: 5px;
}
/*预留区*/
.page-center {
	float: left;
	margin-left: 50px;
	line-height: 46px;
	overflow: hidden;
}
/*全局按钮*/
.page-btn {
	position: absolute;
	right: 10px;
	padding-top: 12px;
	overflow: hidden;
}
.page-btn input {
	margin-left: 20px;
}

/*页面table样式*/
.fixedtable{
	table-layout: fixed;
	height: 99%;
}
/*页面table样式，适用1.3.0之前版本的设计器生成的页面*/
.fixedtab_old{
	table-layout: fixed;
	height: 99%;
}
/*body下最外层框架样式，由于历史原因，老版blue、blue0、green三种样式页面宽度不宜100%，左右需要留有一定空白宽度，因此通过本样式解决*/
.pagecenter{
}
/*页面导航table的样式*/
.pagenavigation{
	display:none;
}
/*导航内容样式*/
.pagenavigation_content{
}
/*导航分割线样式*/
.pagenavigation_line{
}
/*页面分组行样式*/
.group_th{
	height:22px;
	line-height:22px;
	background-color: #FFF5F4 !important;
	border-left: 1px solid #FFF5F4;
	border-right:1px solid #FFF5F4;
	border-bottom:2px solid #FFFFFF;
	border-top:2px solid #FFFFFF;
}
/*textarea 默认宽度/高度*/
.textarea { width:100%; height:100%;}
.textarea_h_100 {height:100px}
.textarea_h_200 {height:200px}
.textarea_h_300 {height:300px}
.textarea_h_400 {height:400px}
.textarea_h_500 {height:500px}
.textarea_h_600 {height:600px}

/*列表头/列表头高度*/
.table_height{ height: 22px; line-height:22px}
/*合计行样式*/
.table_total{background-color: #FFE0C1;}
/*小计行样式*/
.table_sub_total{background-color: #FFF5F4;}

/*字体位置*/
.text-center {text-align: center; vertical-align: middle;}
.text-right {text-align: right;}
.text-left {text-align: left;padding-left:5px;}

/* 列表单元和普通表单单元的表头/列表头背景*/
.table_bg { background-color:#F0F0F0; }

/* 查询单元的表头/列表头背景*/
.query_table_bg{  }

/*列表基本属性*/
th{
	padding: 2px;
	border-left: 1px solid silver;
	border-top: 1px solid silver;
	font-weight:normal;
	height: 25px;
}

/*列表宽度*/
.th_width_120 {white-space:nowrap;}
.th_width_150 {width:150px;}
.th_width_180 {width:180px;}

/*各单元默认顶部标题栏*/
.DefaultTitleBar {
	background-color: #CADBE8;
	font-weight:bold;
	color: #000000;
	height:28px;
	line-height:24px;
	border-left:1px solid #C8C8C8;
	border-right:1px solid #C8C8C8;
	border-top:1px solid #C8C8C8;
	border-bottom: 0px solid #C8C8C8;
	/*padding-left:25px;*/
	padding-top:0px;
}
.FIXHEAD .DefaultTitleBar,.FIXCOL .DefaultTitleBar  {
	border-left: 0px solid #C8C8C8;
	border-right:0px solid #C8C8C8;
}
/*查询单元没有内容情况，补齐边框*/
.boder_line .QueryUnitTableTD .DefaultTopToolBar {
	border-bottom:1px solid #C8C8C8;
}

/*查询单元没有内容情况，补齐边框*/
.boder_line .QueryUnitTableTD .DefaultBottomToolBar {
	border-top:1px solid #C8C8C8;
}

/*各单元默认顶部工具栏*/
.DefaultTopToolBar {
	text-align:right;
	padding-right:10px;
	height:28px;
	line-height:24px;
	background: #E9F0F6;
	border-left: 1px solid #C8C8C8;
	border-right:1px solid #C8C8C8;
	border-bottom:0px solid #FFF5F4;
	border-top:1px solid #C8C8C8;
}
.FIXHEAD .DefaultTopToolBar,.FIXCOL .DefaultTopToolBar  {
	border-left: 0px solid #C8C8C8;
	border-right:0px solid #C8C8C8;
}

/*各单元默认底部工具栏*/
.DefaultBottomToolBar {
	text-align:right;
	/*padding-right:24px;*/
	height:28px;
	line-height:24px;
	background: #E9F0F6;
	border-left: 1px solid #C8C8C8;
	border-right:1px solid #C8C8C8;
	border-bottom:1px solid #C8C8C8;
	border-top:0px solid #FFF5F4;
}

/*查询单元底部工具栏*/
.QueryBottomToolBar{
	text-align:right;
	padding-right:10px;
	height:28px;
	line-height:24px;
	background: #E9F0F6;
	border-left: 1px solid #C8C8C8;
	border-right:1px solid #C8C8C8;
	border-bottom:1px solid #C8C8C8;
	border-top:0px solid #FFF5F4;
}

/*列表单元外围表格，用于固定table布局*/
.GridUnitOuterTable{
	height:100%;
	width:100%;
	border-bottom:0px solid #C8C8C8;
}

.FIXHEAD .GridUnitOuterTable,.FIXCOL  .GridUnitOuterTable{
	height:100%;
	width:100%;
	border-bottom:1px solid #C8C8C8;
	border-left:1px solid #C8C8C8;
	border-right:1px solid #C8C8C8;
	table-layout: fixed;
}
.FIXHEAD  .unit_content_list,.FIXCOL  .unit_content_list{
	height:100%;
	width:100%;
	overflow-x:auto;
	border-left:0px solid #C8C8C8;
	border-right:0px solid #C8C8C8;
	border-bottom:0px solid #C8C8C8;
}

.FIXHEAD .GridUnitTable,.FIXCOL .GridUnitTable  {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: -1px;
	border-bottom: 1px solid #C8C8C8;
	border-top:  px solid #C8C8C8;
	border-left:  0px solid #C8C8C8;
	border-right:  0px solid #C8C8C8;
	empty-cells: show;
	border-collapse: separate !important;
	border-collapse: collapse;
	background-color:white;
}
.FIXHEAD .DefaultBottomToolBar, .FIXCOL .DefaultBottomToolBar {
	text-align:right;
	padding-right:24px;
	height:28px;
	line-height:24px;
	background: #E9F0F6;
	border-left: 0px solid #C8C8C8;
	border-right:0px solid #C8C8C8;
	border-bottom:0px solid #FFF5F4;
	border-top:1px solid #C8C8C8;
}

.GridUnit_title{
	height:28px;
}
.GridUnit_toolbar{
	height:28px;
}
.GridUnit_bottom{
	height:28px;
}
.unit_content_list{
	height:100%;
	width:100%;
	border-left:0px solid #C8C8C8;
	border-right:0px solid #C8C8C8;
	border-bottom:0px solid #C8C8C8;
}
.unit_content_list_fix_left{
	height:100%;
	width:100%;
	overflow-x:auto;
	border-left:1px solid #C8C8C8;
	border-right:1px solid #C8C8C8;
	border-bottom:0px solid #C8C8C8;
}

.unit_content_list_fix_right{
	height:100%;
	width:100%;
	border-left:0px solid #C8C8C8;
	border-right:1px solid #C8C8C8;
	border-bottom:0px solid #C8C8C8;
	overflow:hidden;
}
.GridLeftTitle{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	z-index:200;
	overflow-x:hidden;
	display:none;
	cursor:hand;
}
.GridLeftData{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	overflow-x:scroll;
	overflow-y:hidden;
	width:100%;
	z-index:10;
}
.GridLeftData_table{
	table-layout:fixed;
}
.GridRightTitle{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	z-index:200;
	overflow-x:hidden;
	display:none;
}
.GridRightData{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	overflow-x:scroll;
	overflow-y:auto;
	width:100%;
	z-index:10;
}

/*列表单元基本属性*/
.GridUnitTable {
	margin-top: 0px;
	margin-bottom: 0px;
	border-bottom: 1px solid #C8C8C8;
	border-right:  1px solid #C8C8C8;
	empty-cells: show;
	border-collapse: separate !important;
	border-collapse: collapse;
	background-color:white;
}

/*列表单元表格属性*/
.GridUnitTable TD {
	height: 28px;
	border-left: 1px solid #C8C8C8;
	border-top: 1px solid #C8C8C8;
	padding: 1px;
	vertical-align:middle;
	/*word-wrap:break-word;*//*SMP-780,解决表格内容排列不齐问题*/
}

/*存放整个列表单元的页面框架TD样式*/
.GridUnitTableTD{
	vertical-align:top;
	padding-top:2px;
	padding-bottom:2px;
}

/*存放整个普通表单单元的页面框架div样式，被GridUnitTableTD包含*/
.GridUnitDiv{
	width: 100%;
	height: 100%;
	position: relative;
	border:solid,1px;
}

/*列表单元行间隔样式、选中样式、鼠标覆盖行样式*/
.rowCss1{background-color:#F3F3F3;}
.rowCss2{background-color:#fff;}
.rowSelected{background-color:#F4DCDF;}
.rowOver{background-color:#F8E8EA;}

/*表单单元Table属性*/
.FormUnitTable {
	margin-top: 0px;
	margin-bottom: 0px;
	empty-cells: show;
	border-top: 1px solid #C8C8C8;
	border-bottom: 1px solid #C8C8C8;
	border-right: 1px solid #C8C8C8;
	/*border-collapse: separate !important;*/
	border-collapse: collapse;
	background-color:white;
}

/*表单单元Table中的表格基本属性*/
.FormUnitTable TD {
	height: 22px;
	border-left: 1px solid silver;
	border-top: 1px solid silver;
	padding: 1px;
	background-color:#FFF;
}

/*存放整个普通表单单元的页面框架TD样式*/
.FormUnitTableTD{
	height:1%;
	vertical-align:top;
	padding-top:2px;
	padding-bottom:2px;

}
/*存放整个普通表单单元的页面框架div样式，被FormUnitTableTD包含*/
.FormUnitDiv{}
.autoHeight{
	height:100%;
}
.autoHeight2{
	height:100%;
}
.autoHeight .FormUnitDiv{
	height:100%;
}
.autoHeight .FormUnitTable{
	height:100%;
}
.autoHeight .unit_content{
	height:100%;
}

.autoHeight .GridUnitTable{

}

.autoHeight2 .FormUnitTableTD{
	height:100%;
}

.autoWrap{
	word-wrap:break-word;
}

/*查询单元Table属性*/
.QueryUnitTable {
	margin-top: 0px;
	margin-bottom: 0px;

	border-bottom: 1px solid silver;
	border-right: 1px solid silver;
	border-top: 1px solid silver;
	border-left: 1px solid silver;

	empty-cells: show;
	border-collapse: separate !important;
	border-collapse: collapse;
	background-color:white;
}

/*单元内容区域使用标题栏背景（使用场景：无标题栏，只有内容区域）*/
.UnitTable_ToolBarBg{
	background: #E9F0F6;
}

/*查询单元Table中表格基本属性*/
.QueryUnitTable TD {
	height: 22px;
	border-left: 0px solid silver;
	border-top: 0px solid silver;
	padding: 2px;
}

/*存放整个查询单元的页面框架TD样式*/
.QueryUnitTableTD {
	height:1%;
	vertical-align:top;
	padding-top:2px;
	padding-bottom:2px;
}
/*存放整个查询单元的页面框架div样式，被QueryUnitTableTD包含*/
.QueryUnitDiv {}

/*无边框*/
.noborder TD {border: none;}

/*input 按钮*/
.button{width:53px;height:22px;padding:2px 0px 0px 15px;color:#494949;border:0px;cursor:hand;}
.Button{width:53px;height:22px;padding:2px 0px 0px 15px;color:#494949;border:0px;cursor:hand;}
.button_extend{width:100px;height:22px;padding:2px 0px 0px 15px;color:#494949;border:0px;cursor:hand;}

/*普通按钮*/
.buttonDef {font-family: "宋体"; font-size: 12px;height:22px; background:url(../img/button_bg2.png) repeat-x left top; border:1px solid #DEDEDE;cursor:hand;}
.buttonDef_Over {font-family: "宋体"; font-size: 12px;height:22px; background:url(../img/button_bg2.png) repeat-x left -22px; border:1px solid #DEDEDE;cursor:hand;}

/*保存*/
.button2 {background:url(../img/01_01.png) no-repeat left top ; margin-right:5px;}/*input 按钮*/
.button2_Over {background-position: left -22px;cursor:hand;}

/*重置/关闭*/
.button3 {background:url(../img/01_27.png) no-repeat left top; margin-right:5px;}
.button3_Over {background-position: left -22px;cursor:hand;}

/*删除*/
.button4 {background:url(../img/01_03.png) no-repeat left top; margin-right:5px;}
.button4_Over {background-position: left -22px;cursor:hand;}

/*提交*/
.button12 {background:url(../img/01_11.png) no-repeat left top; margin-right:5px;}
.button12_Over {background-position: left -22px;cursor:hand;}
/*手机*/
.button19 {background:url(../img/01_19.png) no-repeat left top; margin-right:5px;background-position: left -22px;cursor:hand;}
.button19_Over {background-position: left -22px;cursor:hand;}

/*驳回*/
.button24 {background:url(../img/01_24.png) no-repeat left top; margin-right:5px;}
.button24_Over {background-position: left -22px;cursor:hand;}

/*复核*/
.button25 {background:url(../img/01_25.png) no-repeat left top; margin-right:5px;}
.button25_Over {background-position: left -22px;cursor:hand;}

/*新增*/
.button26 {background:url(../img/01_09.png) no-repeat left top; margin-right:5px;}
.button26_Over {background-position: left -22px;cursor:hand;}

/*增加附件*/
.button27 { width:76px; background:url(../img/01_07.png) no-repeat left top; margin-right:5px;}
.button27_Over {background-position: left -22px;cursor:hand;}

/*导出*/
.button28 { background:url(../img/01_30.png) no-repeat left top; margin-right:5px;}
.button28_Over {background-position: left -22px;cursor:hand;}

/*关闭*/
.button29 { background:url(../img/01_31.png) no-repeat left top; margin-right:5px;}
.button29_Over {background-position: left -22px;cursor:hand;}

/*导入*/
.button30 { background:url(../img/01_32.png) no-repeat left top; margin-right:5px;}
.button30_Over {background-position: left -22px;cursor:hand;}


/*刷新*/
.button31 { background:url(../img/01_29.png) no-repeat left top; margin-right:5px;}
.button31_Over {background-position: left -22px;cursor:hand;}

/*"X"型删除*/
.buttonX{width:22px;height:22px;color:#494949;border:0px;cursor:hand;}
.button32 {background:url(../img/01_40.png) no-repeat left top;}
.button32_Over {background-position: left -22px;}

/*打印*/
.button34 { background:url(../img/01_35.png) no-repeat left top; margin-right:5px;}
.button34_Over {background-position: left -22px;cursor:hand;}

/*扩展支持四个字符*/
.button21 { background:url(../img/01_21.png) no-repeat left top; margin-right:5px;}
.button21_Over {background-position: left -22px;cursor:hand;}

/*制定样式*/
.buttonD2 { background:url(../img/bt_2.png) no-repeat left top; margin-right:5px;width:64px;height:22px;padding:2px 0px 0px 15px;color:#494949;border:0px;cursor:hand;}
.buttonD2_Over {background-position: left -22px;cursor:hand;}

/*制定样式*/
.buttonD3 { background:url(../img/bt_3.png) no-repeat left top; margin-right:5px;width:74px;height:22px;padding:2px 0px 0px 15px;color:#494949;border:0px;cursor:hand;}
.buttonD3_Over {background-position: left -22px;cursor:hand;}
/*制定样式*/
.buttonD4 { background:url(../img/bt_4.png) no-repeat left top; margin-right:5px;width:84px;height:22px;padding:2px 0px 0px 15px;color:#494949;border:0px;cursor:hand;}
.buttonD4_Over {background-position: left -22px;cursor:hand;}
/*制定样式*/
.buttonD5 { background:url(../img/bt_5.png) no-repeat left top; margin-right:5px;width:94px;height:22px;padding:2px 0px 0px 15px;color:#494949;border:0px;cursor:hand;}
.buttonD5_Over {background-position: left -22px;cursor:hand;}
/*制定样式*/
.buttonD6 { background:url(../img/bt_6.png) no-repeat left top; margin-right:5px;width:104px;height:22px;padding:2px 0px 0px 15px;color:#494949;border:0px;cursor:hand;}
.buttonD6_Over {background-position: left -22px;cursor:hand;}
/*制定样式*/
.buttonD7 { background:url(../img/bt_7.png) no-repeat left top; margin-right:5px;width:114px;height:22px;padding:2px 0px 0px 15px;color:#494949;border:0px;cursor:hand;}
.buttonD7_Over {background-position: left -22px;cursor:hand;}

.border_B { border-top:1px solid #E0E0E0}
.td_bg { }

/*文件上传组件样式*/
.fl{ float:left;}
.clear{clear:both;}
.inputFile-txt{ width:280px; padding-left:5px; padding-right:5px;}
.fileInput{background:url(../img/01_33.png) no-repeat left top; width:53px; height:22px; overflow:hidden; margin-left:5px; margin-right:5px; display: inline-block;}
.fileInput_over{background-position: left -22px;}
.upfile{
	position:absolute;
	top:36px;
	left: -41px;
}
.upFileBtn{width:53px; height:22px; opacity:0;filter:alpha(opacity=0);cursor:pointer;}



/* CSS Document */
.tabContainer{width:100%;overflow:hidden;}
.tabContainer li{float:left;margin-right:2px;background:url(../images/tabOff_right.gif) no-repeat right top;}
.tabContainer li span{display:block!important;display:inline-block;padding-top:2px;padding-left:15px;padding-right:15px;height:20px;line-height:20px;background:url(../images/tabOff_left.gif) no-repeat left top;}
.webwidget_scroller_tab{font-size: 12px; font-family:Verdana, Geneva, sans-serif;border-left:1px solid #C8C8C8;border-right:1px solid #C8C8C8;background-color:#FFF;}
.webwidget_scroller_tab .tabHead li span{font-weight: none;text-decoration: none;color: #000;}
.webwidget_scroller_tab .tabContainer li.currentBtn{background:url(../images/tabOn_right.gif) no-repeat right top;}
.webwidget_scroller_tab .tabContainer li.currentBtn span{height:20px;background:url(../images/tabOn_left.gif) no-repeat left top;color:#434142;}
.webwidget_scroller_tab .tabContainer li.noBtn{background:url(../images/tabOff_right.gif) no-repeat right top;}
.webwidget_scroller_tab .tabContainer li.noBtn span{height:20px;background:url(../images/tabOff_left.gif) no-repeat left top;color:#434142;}

/*选窗CSS*/
.Wfind{background:#fff url(../img/Wfind.png) no-repeat right;cursor: hand;}

/* MultiDropCheckBox元素CSS*/
.MultiDropCheckBoxRootDIV{}
.MultiDropCheckBoxDIV{position:absolute;background:#FFF;border:1 solid #7F9DB9;overflow:auto;display:none;z-index:200; }
.MultiDropCheckBoxSubDIV{height:20px;font-size:12px;line-height: 20px;}
.MultiDropINPUT{width:80%;height:100%;border:none;float:left}
.MultiDropIMG{width:*;cursor:hand;float:right}
.MultiDropSelect{height:20px;border:1px solid #7F9DB9;background:#FFF}

/* DropFilterTable元素CSS*/
.DropFilterTableDIV{position:absolute;background:#FFF;border:1px solid #7F9DB9;overflow:auto;display:none;z-index:201; }
.DropFilterTableSubDIV{height:20px;font-size:12px}
.DropFilterTableINPUT{width:80%;height:17px;border:none;float:left;cursor:hand;}
.DropFilterTableIMG{width:*;cursor:hand;float:right}
.DropFilterTableROW{cursor: pointer;}
.DropFilterTableSelect{height:20px;border:1px solid #7F9DB9;background:#FFF}

/* DropTree元素CSS*/
.DropTreeDIV{position:absolute;background:#FFF;border:1px solid #7F9DB9;overflow:auto;display:none;z-index:202; }
.DropTreeSubDIV{height:20px;font-size:12px;line-height: 20px;}
.DropTreeINPUT{width:80%;height:100%;border:none;float:left;cursor:hand;}
.DropTreeIMG{width:*;cursor:hand;float:right}
.DropTreeSelect{height:20px;border:1px solid #7F9DB9;background:#FFF}

/* DropTextTable元素CSS*/
.DropTextTableDIV{position:absolute;background:#FFF;border:1px solid #7F9DB9;overflow:auto;display:none;z-index:201; }
.DropFilterTableSubDIV{height:20px;font-size:12px}
.DropTextTableINPUT{width:80%;height:100%;border:none;float:left;cursor:hand;}
.DropTextTableIMG{width:*;cursor:hand;float:right}
.DropTextTableROW{cursor: pointer;}
.DropTextTableSelect{height:20px;border:0px solid #7F9DB9;background:#FFF}

/*截取多余字符，以...填充*/
.auto_ellipsis{
	white-space:nowrap; word-break:keep-all; overflow:hidden; text-overflow:ellipsis;
}