*, BODY {
    font-family: "STHeitiSC Light","Microsoft YaHei","ו", "Arial", "Helvetica";
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}
select{
    left: 0px;
    border-color: #E0E0DA;
    height: 24px;
    width: 100%;
}
input[type='text'] {
    height: 24px;
    padding:0 2px;
    line-height: 22px;
    border-radius: 2px;
    border: 1px solid #E0E0DA;
    width: 100%;
}
th,td {
    text-indent: 2px;
    border-left: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    font-weight: normal;
    height: 30px;
    text-align: center;
    padding: 0 10px 0 5px;
}
.GridUnitTable {
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    empty-cells: show;
    border-collapse: separate !important;
    background-color: white;
}
.DefaultTitleBar {
    background-color: #E8F1FC;
    height: 36px;
    line-height: 34px;
    border-left: 1px solid #C8C8C8;
    border-right: 1px solid #C8C8C8;
    border-top: 1px solid #C8C8C8;
    border-bottom: 0px solid #e5e5e5;
    padding-top: 0px;
}
.DefaultTitleBar-title {
    font-size: 16px;
    color: #5b98dd;
    position: relative;
    right: -7px;
}
.button26 {
    background: url(../img/01_09.png) no-repeat left top;
}
.button4 {
    background: url(../img/01_03.png) no-repeat left top;
}
.buttonX {
    width: 22px;
    height: 22px;
    color: #494949;
    border: 0px;
    cursor: pointer;
}
.button32 {
    background: url(../img/01_40.png) no-repeat left top;
}
.button {
    height: 24px;
    padding-left: 25px;
    font-size: 14px;
    border: 0px;
    cursor: pointer;
    overflow: visible;
    cursor: pointer;
    color: rgb(102, 130, 178);
    float:right;
    margin: 5px 10px 0 0;
}
.checkbox_bg {
    margin: 5px;
    width: 12px;
    height: 12px;
    cursor: pointer;
    background: url(../img/checkbox.png) no-repeat center;
    display: inline-block;
    vertical-align: middle;
}
.checkbox_bg_f {
    margin: 5px;
    width: 12px;
    height: 12px;
    cursor: pointer;
    background: url(../img/checkbox_f.png) no-repeat center;
    display: inline-block;
    vertical-align: middle;
}
.table_bg {
    background-color: #f3f3f3;
    text-align: center;
    vertical-align: middle;
}

.red{
    color: #FF0000;
}

.input_num{
    text-align: right;
    font-weight: bold;
}
.hidden{
    display: none;
}
.checkbox, .radio {
    width: 1px;
    height: 1px;
    visibility: hidden;
    position: absolute;
}