a.MzTreeview /* TreeView 链接的基本样式 */ {
	cursor: hand;
	color: #000080;
	padding: 2 1 0 2;
	text-decoration: none;
	vertical-align: middle;
	line-height: 16px;
}

a.MzTreeview:hover{
	color: #FE5C54;
}

.MzTreeview a.select /* TreeView 链接被选中时的样式 */ {
	color: highlighttext;
	background-color: highlight;
}

.MzTreeViewRow {
	border: none;
	width: 500px;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse
}

.MzTreeViewCell0 {
	border-bottom: 1px solid #CCCCCC;
	padding: 0px;
	margin: 0px;
}

.MzTreeViewCell1 {
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	width: 200px;
	padding: 0px;
	margin: 0px;
}

.MzTreeViewDiv {
	background: #FFF;
	border: 0px solid silver;
	height: 100%;
	overflow: auto;
}

.MzTreeButtonDiv {
	text-align: right;
	width: 95%;
}